.work{
    background-color: var(--bcolor);
}
.work-content{
overflow: hidden;}

.work-item{
    position: relative;
    padding-top: 20px;
width: 100%;
}
.work1{
    width: 50%;
float: left;
color: white;
border-radius: 10px;

}

.work .work-header{
    text-align: center;
    text-transform: capitalize;
     color: white;
}

.work .work-header p{
    text-align: center;
    text-transform: capitalize;
     color: var(--font-color);
     font-size: 10;
}

.work .work-header h4{
    text-align: center;
    text-transform: capitalize;
     color: white;
}
.work1 img{
    width: 150%;
padding-left: 20; 
height: 50.7vh;
 margin: 10 0;
 padding-top: 10px;
 border-radius: 10px;

}
.work111 {
    background-color: black;
    margin: 20 0;
    height: 50vh;

}
.work111 .work-desc1{
    font-size: 15px;
    padding-top: 200;
padding-left:100 ;
color: var(--font-color);}
.work111 .work-desc2{
    font-size: 15px;
   
padding-left:100 ;
color: var(--font-color);}
.work111 .work-title{
    font-size: 24px;
   
padding-left:100 ;
}
.work111 .fa-arrow-right{
    margin-top: 10;
    background-color: var(--primary-color);
    padding: 10 15;
    margin-left:100 ;
    border-radius: 50%;
    cursor: pointer;
  
}

